doctype html
html
  head
    title= title
    // link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    link(href='/public/stylesheets/bootstrap.min.css', rel='stylesheet')
    script(src='/public/javascripts/bootstrap.min.js')
    meta(http-equiv="content-type", content="#{application/x-www-form-urlencoded}; charset=UTF-8")

  body
    block content