extends layout

<<<<<<< HEAD
block content
    h1= title 
    p Welcome to #{title}
    
=======
block content 
    h1= title
    p Welcome to #{title}
>>>>>>> 18390f2a32292cb899b497b88db455fff8b1711d
